replicaCount: 2

image:
  repository: jrebaza01/nats-subscriber
  tag: "stable"
  pullPolicy: IfNotPresent

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 1000m
    memory: 512Mi

livenessProbe:
  enabled: true
  initialDelaySeconds: 30
  periodSeconds: 10

readinessProbe:
  enabled: true
  initialDelaySeconds: 10
  periodSeconds: 5

nats:
  url: nats://nats.nats.svc.cluster.local:4222
  subject: poc.events
