image:
  repository: jrebaza01/nats-subscriber
  tag: "latest"
  pullPolicy: Always

replicaCount: 1

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

livenessProbe:
  enabled: true
  initialDelaySeconds: 15
  periodSeconds: 10

readinessProbe:
  enabled: true
  initialDelaySeconds: 5
  periodSeconds: 5

